DEPLOYER_PRIVATE_KEY=0xyourtestnetdeployerkey
SEPOLIA_RPC=https://ethereum-sepolia-rpc.publicnode.com
REDBELLY_TESTNET_RPC=https://rpc-testnet.redbelly.network
VAULT_OWNER=
TOKEN_OWNER=
RELAYER_SIGNER_1=
RELAYER_SIGNER_2=
RELAYER_SIGNER_3=
LOCK_VAULT_ADDRESS=
WETH_BRIDGED_ADDRESS=
RELAYER_PRIVATE_KEY=0xthisSignersOwnKey
SIGNER_LABEL=signer1
CONFIRMATION_BLOCKS=5
